<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Geekshubs-P4-ApiMovie</title>
</head>
<body>

    <main class="wrapper">

        <section class="box">

            <section class="box-left">


                <section class="box-left-pelis">

                    <h1>Películas.</h1>
                    <p class="p-description">Podemos buscar las películas en Total, Titulo y ID.</p>
        
                    <section class="botones">

                        <button class="bt-white">Todas las Películas</button>
                        <button class="bt-white">Películas por Nombre.</button>
                        <button class="bt-white">Películas por ID</button>
                        <button class="bt-blue">Ingresar Película Nueva.</button>
                        
                    </section>

                    <section class="box-left-actor">

                        <h1>Actores.</h1>
                        <p class="p-description">Podemos buscar las películas en Total, Titulo y ID.</p>
            
                        <section class="botones">
    
                            <button class="bt-white">Todas las Películas</button>
                            <button class="bt-white">Películas por Nombre.</button>
                            <button class="bt-white">Películas por ID</button>
                            <button class="bt-blue">Ingresar Película Nueva.</button>
                            
                        </section>
    


                </section>
                
    
            </section>
           

          


            </section>
            <section class="box-right">
                <h1>Resultados.</h1>
            </section>

        </section>

       
    </main>
    
    <script src="../server.js"></script>
</body>
</html>